@model HRMPj.Models.Branch

@{
    ViewData["Title"] = "Branch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-card mb-3 card">
    <div class="card-header">
        <div class="media flex-wrap w-100 align-items-center">
            <div class=" media-body ml-3">
                <div class="text-muted large">
                    @ViewData["Title"]
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="position-relative form-group">
                <label asp-for="BranchName" class="control-label"></label>
                <input asp-for="BranchName" class="form-control" />
                <span asp-validation-for="BranchName" class="text-danger"></span>
            </div>
            <div class="position-relative form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="position-relative form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" type="date" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="position-relative form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="position-relative form-group">
                <input type="submit" value="Save" class="mb-2 mr-2 btn-icon btn-pill btn btn-outline-primary" />
                <a asp-action="Index" class="mb-2 mr-2 btn-icon btn-pill btn btn-outline-primary">Back to List</a>
            </div>
        </form>
        @*</div>
            </div>*@
    </div>
</div>
    </div>
</div>
             

                @section Scripts {
                    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                }
