@model HRMPj.Models.Resign

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Resign";
}


<div class="main-card mb-3 card">
    <div class="card-header">
        <div class="media flex-wrap w-100 align-items-center">
            <div class=" media-body ml-3">
                <div class="text-muted large">
                    @ViewData["Title"]
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>@ViewBag.Message</div>




            <div class="position-relative row form-group">
                <label asp-for="Year" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-5">
                    <input asp-for="Year" class="form-control" />
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
            </div>
            <div class="position-relative row form-group">
                <label asp-for="Comment" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-5">
                    <textarea asp-for="Comment" class="form-control"></textarea>
                    <span asp-validation-for="Comment" class="text-danger"></span>
                </div>
            </div>
            <div class="position-relative row form-group">
                <label asp-for="FromEmployeeInfoId" class="col-sm-2 col-form-label">FromEmployee</label>
                <div class="col-sm-5">
                    <select asp-for="FromEmployeeInfoId" id="FromEmployeeInfoId" class="form-control" asp-items="ViewBag.FromEmployeeInfoId">
                        <option>----Select----</option>
                    </select>
                </div>
            </div>
            <div class="position-relative row form-group">
                <label asp-for="ToEmployeeInfoId"  class="col-sm-2 col-form-label">ToEmployee</label>
                <div class="col-sm-5">
                    <select asp-for="ToEmployeeInfoId" id="ToEmployeeInfoId" class="form-control">
                        <option>----Select----</option>
                    </select>
                </div>
            </div>
            <div class="position-relative row form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-5">
                    <input type="submit" value="Create" class="mb-2 mr-2 btn-icon btn-pill btn btn-outline-primary" />
                    <a asp-action="Index" class="mb-2 mr-2 btn-icon btn-pill btn btn-outline-primary">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $("#FromEmployeeInfoId").on("change", function () {

                var param = this.value;
                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    type: "GET",
                    url: '/Resigns/GetToEmployeeList?FromEmployeeInfoId=' + param,

                    success: function (data) {

                        var html = '<option>--Select--</option>';
                        var len = data.length;
                        if (len == 0) {
                            alert("error");
                        }
                        else {
                            for (var i = 0; i < len; i++) {
                                html += '<option value="' + data[i].Id + '">'
                                    + data[i].EmployeeName
                                    + '</option>';
                            }
                            $('#ToEmployeeInfoId').html(html);
                            if (typeof (callback) == "function") {
                                callback();
                            }
                        }

                    },
                    complete: function () {
                    }
                });
            });
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
