@model HRMPj.Models.Company

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Company";
}


<div class="main-card mb-3 card">
    <div class="card-header">
        <div class="media flex-wrap w-100 align-items-center">
            <div class=" media-body ml-3">
                <div class="text-muted large">
                    @ViewData["Title"]
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>@ViewBag.Message</div>
            <div class="position-relative row form-group">
                <label for="CompanyName" class="col-sm-2 col-form-label">CompanyName</label>
                <div class="col-sm-5">
                    <input asp-for="CompanyName" id="CompanyName" placeholder="Enter name" type="text" class="form-control" />
                    <span asp-validation-for="CompanyName " class="text-danger"></span>

                </div>
            </div>
            <div class="position-relative row form-group">
                <label for="CreatedDate" class="col-sm-2 col-form-label">CreatedDate</label>
                <div class="col-sm-5">
                    <input asp-for="CreatedDate" placeholder="Enter date" type="date" class="form-control" />
                    @*<span asp-validation-for="CreatedDate " class="text-danger"></span>*@

                </div>
            </div>
            <div class="position-relative row form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-5">
                    <input type="submit" value="Create" class="mb-2 mr-2 btn-icon btn-pill btn btn-outline-primary" />
                    <a asp-action="Index" class="mb-2 mr-2 btn-icon btn-pill btn btn-outline-primary">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>
 



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
